*.~*
*.o
*.d
*.ko
*.obj
*.elf
*.class
*.dmp
*.pdb
*.pyd
*.exp
*.plg
*.sbr
*.pyc
*.idb
*.log
*.tlog
*.tmp
*.~*
*.#*#
*.ilk
*.suo
*.db
*.ipch
*.su
.vscode
.DS_Store
federation.localhost
federations
API_AUTH
tls
temp
logs
bin